@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.sun{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    background-color: yellow;
    box-shadow: -20px 10px 60px orange;
    top: 100px;
}


#formFile{
    background-color: #9c9cf1;
    text-align: center;
}

body {
    background: linear-gradient(to top, #c9c9ff 50%, #15426d 90%) no-repeat;
    
}
footer{
    margin-top: 70vh;
}

.container {
    margin: 2em auto;
    margin-bottom: 0;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 50px rgb(80, 75, 75);
    border-radius: 12px
}

.border-home {
    box-shadow: 5px 5px 10px rgb(80, 75, 75);
    border-radius: 12px;
}

.card-header{
    font-size: 100px;
    font-weight: 900;
}

.bordera {
    box-shadow: 5px 5px 10px rgb(80, 75, 75);
    border-radius: 29px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}


.nice{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    width: fit-content;
}

.navbar-nav{
    display: flex;
}

.nav-link{
    margin: 0 15px;
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

.friendStat{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapperOfHeader{
    display: flex;
    justify-content: space-between;
}

#stari{
    margin: 0 1em;
    border-radius: unset;
}